.pagination {
  margin: 50px 0 40px;
  text-align: center;
  width: 100%;
  font-size: 19px;
  font-weight: 500;

  * {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
  }

  .pagination__prev,
  .pagination__next {
    padding: 8px 23px 12px;
    border: 1px solid $red;
    margin-left: 20px;
    border-radius: 40px;
    color: $red;

    &:hover {
      background-color: $red;
      color: #fff;
    }
  }

  .pagination__prev {
    margin: 0 20px 0 0;
  }

  span,
  a.pagination__page {
    @extend %tr200;
    line-height: 32px;
    width: 32px;
    height: 32px;
    color: $red;
  }

  span,
  a.pagination__page:hover {
    background-color: $red;
    color: #fff;
    border-radius: 100%;
  }

  span {
    margin: 0 4px;
  }

}
